@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Statystyki - ostatnie 4 tygodnie";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Typ ćwiczenia</th>
            <th>Ile razy</th>
            <th>Łącznie powtórzeń</th>
            <th>Średnie obciążenie</th>
            <th>Maksymalne obciążenie</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var s in Model)
    {
        <tr>
            <td>@s.TypNazwa</td>
            <td>@s.Count</td>
            <td>@s.TotalPowtorzen</td>
            <td>@String.Format("{0:0.##}", s.AvgObciazenie)</td>
            <td>@String.Format("{0:0.##}", s.MaxObciazenie)</td>
        </tr>
    }
    </tbody>
</table>
