@model BeFit_Kaszkowiak.Models.Sesja

@{
    ViewData["Title"] = "Szczegóły sesji";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Tytul)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Tytul)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.DataRozpoczecia)</dt>
        <dd class="col-sm-9">@Model.DataRozpoczecia.ToString("g")</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.DataZakonczenia)</dt>
        <dd class="col-sm-9">@((Model.DataZakonczenia.HasValue) ? Model.DataZakonczenia.Value.ToString("g") : "—")</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Opis)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Opis)</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a>
    <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Usuń</a>
</p>
