@model BeFit_Kaszkowiak.Models.Cwiczenie

@{
    ViewData["Title"] = "Szczegóły ćwiczenia";
}

<h1>@ViewData["Title"]</h1>

<dl class="row">
    <dt class="col-sm-2">Nazwa</dt>
    <dd class="col-sm-10">@Model.Nazwa</dd>

    <dt class="col-sm-2">Typ</dt>
    <dd class="col-sm-10">@Model.TypCwiczenia?.Nazwa</dd>

    <dt class="col-sm-2">Sesja</dt>
    <dd class="col-sm-10">@Model.Sesja?.Tytul</dd>

    <dt class="col-sm-2">Czas (s)</dt>
    <dd class="col-sm-10">@Model.CzasTrwaniaSek</dd>

    <dt class="col-sm-2">Powtórzenia</dt>
    <dd class="col-sm-10">@Model.Powtorzenia</dd>

    <dt class="col-sm-2">Opis</dt>
    <dd class="col-sm-10">@Model.Opis</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a>
    <a asp-action="Index" class="btn btn-secondary">Powrót</a>
</p>
